*~
*.o
*.so*
Makefile
*.pro.user
*.moc
*.list
.qmake.stash
ut_*
moc_*
mnotificationmanagerproxy.*
/src/mlite5.pc
/src/mlite6.pc
/tests/Makefile.ut_*
/tests/tests.xml
/tools/mlitenotificationtool/mlitenotificationtool
/tools/mliteremoteaction/mliteremoteaction
/RPMS/
